.wrapper {
  min-height: 100vh;
  background: url('/images/pattern.png');
}

.heroSection {
  position: relative;
  background: url('/images/home-hero.jpg') center center;
  background-size: cover;
  height: 40vh;
  color: #fff;
}

.heroTitle {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, #000);
  width: 100%;
}

.section {
  padding: 2rem 0;
}
